h2{font-size: larger; }
h4{font-size: large; display: block; font-weight: bold; color: #ccf; margin-bottom: .1em;}
# productDetail p{font-size: small; color: #ccf;}
.product_img {width: 250px; heignt: 300;}
.more_img {height: 250px; width: 300px;}